* {
	box-sizing: border-box;
	font-weight: 300;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	color: #FFFFFF;
	display: flex;
}

header {
	width: 66.66666%;
	height: 33.33333%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 25px 50px;
	background: #740001;;
}

 h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 4px;
  }

  .button {
	background: none;
	color: white;
	border: 2px solid white;
	margin-right: 10px;
    margin-top: 30px;
    width: 45%;
    height: 40px;
}

.button:hover {
	background: #eeba30;
}

.resume {
	background-image: url(images/feather.svg);
	background-repeat: no-repeat;
	background-position: 15px;
	background-size: 20px;
}

.contact {
	
}